/* screen - desktop-4 */

.abcprophettrial-regular-normal-indigo-28px {
  color: var(--indigo);
  font-family: 'ABC Prophet Trial-Regular', Helvetica, Arial, serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
}
.border-class-1 {

}
.border-class-2 {
  border: 3px solid var(--buddha-gold);
}
.border-class-3 {

}
.desktop-4 {
  background-color: var(--mercury);
  height: 100vh;
  margin: 0px;
  min-height: 1024px;
  min-width: 1278px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.desktop-4 .brussels-s-hini-27044-dp4W7L {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 218px);
  letter-spacing: 0.00px;
  line-height: 18.8px;
  position: absolute;
  text-align: left;
  top: 223px;
  width: 381px;
}
.desktop-4 .caption-te-uote-27042-dp4W7L {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 443px;
  width: 365px;
}
.desktop-4 .christina-27043-dp4W7L {
  background-color: transparent;
  height: auto;
  left: calc(50.00% + 84px);
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 693px;
  width: auto;
}
.desktop-4 .close-x-27060-B6vg65 {
  background-color: transparent;
  color: var(--fuscous-gray);
  font-family: 'Helvetica-Regular', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1148px;
  letter-spacing: 0.00px;
  line-height: 24.1px;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: auto;
}
.desktop-4 .desktop-2-C61RwL {
  background-color: var(--white);
  box-shadow: 0px 9px 28px rgba(0,0,0,0.05) , 0px 6px 16px rgba(0,0,0,0.08) , 0px 3px 6px rgba(0,0,0,0.12);;
  height: 827px;
  left: calc(50.00% - 581px);
  overflow: hidden;
  position: absolute;
  top: calc(50.00% - 414px);
  width: 1162px;
}
.desktop-4 .frame-5-CPqE3F {
  background-color: var(--zircon);
  height: 827px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 581px;
}
.desktop-4 .frame-6-CPqE3F {
  background-color: var(--baby-powder);
  height: 827px;
  left: 581px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 581px;
}
.desktop-4 .frame-7-zSpldU {
  background-color: var(--orange-white);
  height: 60px;
  left: calc(50.00% - 178px);
  position: absolute;
  top: 674px;
  width: 357px;
}
.desktop-4 .group-1-B6vg65 {
  background-color: transparent;
  height: 315px;
  left: 91px;
  position: absolute;
  top: 77px;
  width: 1045px;
}
.desktop-4 .group-2-zSpldU {
  background-color: transparent;
  height: 575px;
  left: 33px;
  position: absolute;
  top: 69px;
  width: 521px;
}
.desktop-4 .merry-christmas-dp4W7L {
  background-color: transparent;
  height: 52px;
  left: calc(50.00% - 217px);
  position: absolute;
  top: 79px;
  width: 412px;
}
.desktop-4 .naadvwrwcm-vbux-27037-Tcqdt2 {
  background-color: transparent;
  height: 38px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 337px;
}
.desktop-4 .nameee-dp4W7L {
  background-color: transparent;
  height: 43px;
  left: calc(50.00% - 214px);
  position: absolute;
  top: 128px;
  width: 223px;
}
.desktop-4 .overlay-C61RwL {
  background-color: var(--white);
  border: 3px solid var(--indigo);
  height: 469px;
  left: calc(50.00% - 613px);
  position: absolute;
  top: calc(50.00% - 234px);
  width: 1227px;
}
.desktop-4 .rectangle-6-C61RwL {
  background-color: var(--mercury);
  height: 1024px;
  left: -560px;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  width: 2560px;
}
.desktop-4 .span1-IpB6YF {
  color: rgba(82,82,82,1.0);
  font-family: 'Helvetica-Light', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 300;
}
.desktop-4 .span2-IpB6YF {
  color: rgba(82,82,82,1.0);
  font-family: 'Helvetica-Light', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 300;
  text-decoration: underline;
}
.desktop-4 .this-is-an-this-27038-zSpldU {
  background-color: transparent;
  color: var(--fuscous-gray);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 14px;
  height: 16px;
  left: 145px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 753px;
  width: auto;
}
.dmmono-light-fuscous-gray-14px {
  color: var(--fuscous-gray);
  font-family: 'DM Mono', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
}
.helvetica-light-fuscous-gray-14px {
  color: var(--fuscous-gray);
  font-family: 'Helvetica-Light', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
}
.helvetica-light-fuscous-gray-28px {
  color: var(--fuscous-gray);
  font-family: 'Helvetica-Light', Helvetica, Arial, serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
}
:root {
  --baby-powder: rgba(252,252,252,1.0);
  --buddha-gold: rgba(210,164,0,1.0);
  --fuscous-gray: rgba(82,82,82,1.0);
  --indigo: rgba(84,107,192,1.0);
  --mercury: rgba(229,229,229,1.0);
  --orange-white: rgba(251,248,236,1.0);
  --white: rgba(255,255,255,1.0);
  --zircon: rgba(242,251,255,1.0);
}
